<%- include('../partials/head') %>
    <%- include('../partials/header'); %>


        <form action="/skills" method="POST" autocomplete="off">
            <input type="text" name="skill">
            <button type="submit" >New Dev Skill </button>
        </form>




        <%- include('../partials/footer') %>